[submodule "custom/plugins/CohaQuoteSlider"]
		path = custom/plugins/CohaQuoteSlider
		url = https://coha-it@github.com/coha-it/CohaQuoteSlider.git
[submodule "custom/plugins/CohaCartButton"]
		path = custom/plugins/CohaCartButton
		url = https://coha-it@github.com/coha-it/CohaCartButton.git
[submodule "custom/plugins/CohaAdvancedShop"]
	path = custom/plugins/CohaAdvancedShop
	url = https://coha-it@github.com/coha-it/CohaAdvancedShop.git
[submodule "custom/plugins/CohaBasketCountFix"]
		path = custom/plugins/CohaBasketCountFix
		url = https://coha-it@github.com/coha-it/CohaBasketCountFix.git
[submodule "custom/plugins/CohaBeautifulEmotion"]
        path = custom/plugins/CohaBeautifulEmotion
        url = https://coha-it@github.com/coha-it/CohaBeautifulEmotion.git
[submodule "custom/plugins/CohaBetterNavigation"]
        path = custom/plugins/CohaBetterNavigation
        url = https://coha-it@github.com/coha-it/CohaBetterNavigation.git
[submodule "custom/plugins/CohaHideNotepad"]
        path = custom/plugins/CohaHideNotepad
        url = https://coha-it@github.com/coha-it/CohaHideNotepad.git
[submodule "custom/plugins/CohaHideSearchBar"]
        path = custom/plugins/CohaHideSearchBar
        url = https://coha-it@github.com/coha-it/CohaHideSearchBar.git
[submodule "custom/plugins/CohaSidebarAlwaysMain"]
        path = custom/plugins/CohaSidebarAlwaysMain
        url = https://coha-it@github.com/coha-it/CohaSidebarAlwaysMain.git
[submodule "custom/plugins/SwagTinyMceCustomFont"]
        path = custom/plugins/SwagTinyMceCustomFont
        url = https://coha-it@github.com/coha-it/SwagTinyMceCustomFont.git
[submodule "themes/Frontend/CohaHappyFeelsTheme"]
	path = themes/Frontend/CohaHappyFeelsTheme
	url = https://coha-it@github.com/coha-it/happy-feels-shopware-theme.git
[submodule "custom/plugins/CohaBadges"]
	path = custom/plugins/CohaBadges
	url = https://coha-it@github.com/coha-it/CohaBadges.git
[submodule "custom/plugins/CohaPriceWithQuantity"]
	path = custom/plugins/CohaPriceWithQuantity
	url = https://coha-it@github.com/coha-it/CohaPriceWithQuantity.git
[submodule "custom/plugins/CohaYoutubeLazyLoad"]
	path = custom/plugins/CohaYoutubeLazyLoad
	url = https://coha-it@github.com/coha-it/CohaYoutubeLazyLoad.git
[submodule "custom/plugins/CohaOrdPosCom"]
	path = custom/plugins/CohaOrdPosCom
	url = https://coha-it@github.com/coha-it/CohaOrdPosCom.git
[submodule "custom/plugins/CohaCrmApi"]
	path = custom/plugins/CohaCrmApi
	url = https://coha-it@github.com/coha-it/CohaCrmApi.git
[submodule "custom/plugins/CohaOrderDateAttributes"]
	path = custom/plugins/CohaOrderDateAttributes
	url = https://coha-it@github.com/coha-it/CohaOrderDateAttributes.git
